@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Pacifico&display=swap');


:root {
    --c-gold: rgb(212,175,55);
    /* --c-feature: rgb(71, 134, 216); */
    /* --c-feature: rgb(134, 173, 224); */
    --c-feature: rgb(33, 198, 219);
    --c-blue-dark: rgb(20, 148, 165);
    --c-background: powderblue;
    --c-white: rgb(255, 255, 255);
    --c-grey: rgb(112, 143, 144);
    --font-main: 'Baloo Paaji 2', cursive;
    --font-feature: 'Pacifico', cursive;
    --shadow: 2px 2px 5px 0px rgba(82, 82, 82, 0.4);
}

body {
    font-family: var(--font-main);
    background-color: var(--c-background);
    overflow: auto;
}



.fa-utensils {
    padding-left: 15px;
}

.button {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 60px;
    border: none;
    color: var(--c-white);
    background-color: var(--c-blue-dark); 
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--c-feature);
}